{% extends "base.html" %}
{% load static %}

{% block content %}

{% if not  user.is_authenticated %}


<!--{% block title %}Create an account{% endblock %}-->

<div id="content" class="background">
<header class="masthead">
 <div class="container">
          <div class="col-xl-12 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5" >
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h2 class="h4 text-gray-900 mb-4">Inscription</h2>
              </div>
        <form action="." method="post">

            {{ user_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="S'inscrire" class="btn btn-primary btn-user btn-block"></p>
        </form>
              <hr>
              <div class="text-center">
                <a href="{% url 'login' %}">Vous avez déjà un compte ? Connectez-vous</a>{{ check_failed_login }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       </div>


 </div>
</header>
</div>

{% else %}
    <p>You already have an account.</p>
{% endif %}


{% endblock %}