{% extends "base.html" %}
{% load static %}

{% block content %}

{% if not  user.is_authenticated %}

<head>
      <title>Register</title>


</head>

<body class="bg-gradient-primary">
<!--{% block title %}Create an account{% endblock %}-->


 <div class="container">
          <div class="col-xl-12 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5" >
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Inscription</h1>
              </div>
        <form action="." method="post">

            {{ user_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="S'inscrire" class="btn btn-primary btn-user btn-block"></p>
        </form>
              <hr>
              <div class="text-center">
                <a href="{% url 'login' %}">Vous avez déjà un compte ? Connectez-vous</a>{{ check_failed_login }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
       </div>

  <div class="container-fluid" style="background-color: white;  bottom: 0; ;width: 100%; background-color: #fff;color:#333;">
    <footer class="pt-4 my-md-5 pt-md-5" >
    </footer>
  </div>

 </div>
</body>

{% else %}
    <p>You already have an account.</p>
{% endif %}

</html>

{% endblock %}