# IDE
*.pyc
__pycache__/*.pyc
.idea/

# Migrations
# purbeurre/migrations/*

# Environments
.env
.venv
env/
venv/
config.json

# test
htmlcov/
/.coverage
/.coveragerc

# data
# dump/data.json